<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congda.baselibrary" >
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".service.StartServiceDemo"/>
        <service android:name=".service.BindServiceDemo"/>
        <service android:name=".service.DownLoadService"/>
    </application>

</manifest>
